:root.theme-light {
  --page-bg-image: url("../images/cover-image-light.png");
  --page-bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-bg-color: #ff8dcb;
  --title-text-color: #353430;
  --h1-color: #ffc2e6;
  --h2-color: var(--text-color);
  --link-color: var(--accent-color);
  --menu-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --decorated-zone-color: #353430;


}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --page-bg-image: url("../images/cover-image-light.png");
    --page-bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --title-bg-color: #ff8dcb;
    --title-text-color: #353430;
    --h1-color: #ffc2e6;
    --h2-color: var(--text-color);
    --link-color: var(--accent-color);
    --menu-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --decorated-zone-color: #353430;
  }

  .theme-auto .rec {
    display: none;
  }
}

 /*убрал лампочку*/
  .theme-light .rec {
    display: none;
  }