.page { 
  block-size: 100%;
  min-block-size: 668px;
  inline-size: 100%;
  background-image: var(--page-bg-image);
  background-color: var(--page-bg-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
  font-family: "IBM Plex Mono", monospace;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  inline-size: 100%;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-block-start: 1px solid var(--decorated-zone-color);
  border-inline-end: 1px solid var(--decorated-zone-color);
}

.decorated-zone::after {
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-block-end: 1px solid var(--decorated-zone-color);
  border-inline-start: 1px solid var(--decorated-zone-color);
}

.rec {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 19px;
  display: inline-flex;
  align-items: center;
  gap: 9px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--accent-color);
}

.rec::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  position: absolute;
  inset-block-start: 75px;
  inset-inline-end: 10px;
  color: var(--menu-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  height: 26px;
  padding-inline: 13px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  color: var(--menu-color);
  background: transparent;
  border: 1px solid transparent;
  text-align: center;
  cursor: pointer;
}

.header__theme-menu-button_active,
.header__theme-menu-button:disabled {
  border-color: var(--menu-color);
  pointer-events: none;
  cursor: default;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):not(:disabled):hover {
  border-color: var(--button-hover-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  background: transparent;
  border-color: transparent;
  border-block-end: 1px solid var(--menu-color);
}

.header__theme-menu-button:focus-visible:hover {
  border-block-end-color: var(--menu-color);
}

.header__title-wrapper {
  grid-row: 2;
  align-self: center;
  justify-self: start;
}

.footer__title,
.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__title-line {
  display: block;
  font-weight: 700;
  line-height: 0.83;
  text-transform: lowercase;
  color: var(--h1-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  background-color: var(--title-bg-color);
  color: var(--title-text-color);
}

.header__description {
  grid-row: 3;
  max-inline-size: 355px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  align-self: center;
  justify-self: end;
  margin-block-start: -10px;
}

.content {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  padding-inline: 10px;
  margin-block: 40px 0;
  gap: 50px;
  font-size: var(--font-size-base);
  color: var(--text-color);
}

.content > .content__section:last-child {
  margin-block-end: -10px;
}

.section {
  display: grid;
  grid-template-rows: min-content min-content;
  row-gap: 20px;
}

.section__title {
  font-size: var(--font-size-h2);
  font-weight: 700;
  line-height: 23.4px;
  color: var(--h2-color);
}

.section__subtitle {
  margin-block-end: 0;
}

.card {
  display: grid;
}

.card__title {
  font-size: var(--font-size-h3);
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--accent-color);
  color: var(--title-text-color);
  margin-block-end: 10px;
}

.card__subtitle {
  font-size: var(--font-size-h4);
  font-weight: 400;
  line-height: 23.4px;
  color: var(--title-text-color);
  background-color: var(--accent-color);
  margin-block-end: 10px;
  margin-block-start: 20px;
}

.content__section:nth-of-type(3) .card__title + .card__subtitle {
  margin-block-start: 10px;
}

.card__text {
  font-size: var(--font-size-base);
  line-height: 23.4px;
  font-weight: 400;
}

.section__cards {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 20px;
}

.gallery > .section__title {
  margin-bottom: -10px;
}

.gallery__title {
  color: var(--title-text-color);
  background-color: var(--accent-color);
}

.gallery__list {
  display: grid;
  gap: 10px;
}

.gallery__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

img {
  overflow: clip;
  overflow-clip-margin: content-box;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  min-block-size: 100vh;
  padding-inline: 10px;
}

.footer__title {
  margin: 0;
  font-weight: 700;
  line-height: 0.83;
  text-transform: lowercase;
  color: var(--h1-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  text-align: center;
}

.link {
  text-decoration: none;
  border: none;
  background: transparent;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:link,
.link:visited,
.link:focus {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: currentColor;
  background: transparent;
}

.link:focus-visible,
.link:focus-visible:hover {
  outline: none;
  text-decoration: none;
  background: transparent;
  border: 1px solid currentColor;
}

@media (width >= 768px) {

  .header,
  .content,
  .footer {
    padding-inline: 20px;
  }

  .content {
    row-gap: 60px;
    margin-block: 60px 0;
  }

  .content__section {
    margin: 0;
  }

  .header {
    position: relative;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    inline-size: 100%;
    min-block-size: 1024px;
    padding-block: 20px;
  }

  .header__title,
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

  .header__title-line {
    display: inline;
  }

  .header__title-wrapper {
    grid-row: 2;
    align-self: center;
  }

  .header__description {
    grid-row: 3;
    max-inline-size: 364px;
    margin-block-end: 17.5px;
    align-self: center;
    justify-self: end;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .rec {
    inset-block-start: 20px;
    inset-inline-end: 29px;
  }

  .header__theme-menu {
    inset-block-start: 192px;
    inset-inline-end: 20px;
  }

  .content__section:nth-of-type(1),
  .content__section:nth-of-type(2),
  .content__section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 236px minmax(0, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }

  .content__section:nth-of-type(1) .section__title,
  .content__section:nth-of-type(3) .section__title {
    grid-column: 1;
  }

  .content__section:nth-of-type(1) .section__cards,
  .content__section:nth-of-type(3) .section__cards {
    grid-column: 2;
  }

  .content__section:nth-of-type(1) .card__title,
  .content__section:nth-of-type(3) .card__title {
    margin-block-end: 9.97px;
  }

  .content__section:nth-of-type(1) .card__text + .card__title,
  .content__section:nth-of-type(3) .card__text + .card__title {
    margin-block-start: 9.97px;
  }

  .content__section:nth-of-type(2) .section__title {
    grid-column: 1;
    max-inline-size: 236px;
  }

  .content__section:nth-of-type(2) .section__cards {
    grid-column: 1 / -1;
    display: grid;
    row-gap: 20px;
  }

  .content__section:nth-of-type(2) .card__title {
    margin-block-end: 10px;
  }

  .content__section:nth-of-type(2) .card__text + .card__title {
    margin-block-start: 20px;
  }

  .content__section:nth-of-type(3) .card__title + .card__subtitle {
    margin-block-start: 10px;
  }

  .content__section:nth-of-type(3) {
    margin-block-start: 20px;
  }

  .gallery {
    display: block;
  }

  .gallery > .section__title {
    margin-block: 0 20px;
  }

  .gallery__list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: auto;
    grid-template-areas:
      "land land bowl"
      "tape books bowl"
      "tape street street";
  }

  .gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery__image:nth-child(1) {
    grid-area: land;
  }

  .gallery__image:nth-child(2) {
    grid-area: bowl;
  }

  .gallery__image:nth-child(3) {
    grid-area: tape;
  }

  .gallery__image:nth-child(4) {
    grid-area: books;
  }

  .gallery__image:nth-child(5) {
    grid-area: street;
  }

  .footer {
    min-block-size: 1024px;
    inline-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 10px;
  }

  .footer__title {
    margin-inline-start: 1px;
  }
}

@media (width >= 1024px) {
  .header,
  .footer {
    min-block-size: 768px;
    block-size: 100%;
    inline-size: 100%;
  }

 .header__theme-menu {
    position: absolute;
    inset-block-start: 20px;
    inset-inline: 0;
    display: flex;
    justify-content: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__description {
    max-inline-size: 491px;
    margin-block-end: 27px;
  }

   .content__section:nth-of-type(1) {
    grid-template-columns: minmax(240px, 315px) minmax(0, 1fr);
  }

  .content__section:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .content__section:nth-of-type(2) .section__title {
    justify-self: flex-start;
    max-inline-size: 315px;
  }

  .content__section:nth-of-type(2) .section__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
    align-items: flex-start;
  }

  .content__section:nth-of-type(2) .card__title {
    display: flex;
    align-items: flex-end;
    min-block-size: 23px;
    margin-block-end: 10px;
    padding-block: 0;
  }

  .content__section:nth-of-type(3) {
    grid-template-columns: minmax(240px, 315px) minmax(0, 1fr);
  }

  .content__section:nth-of-type(3) .section__title {
    grid-column: 1;
  }

  .content__section:nth-of-type(3) .section__cards {
    grid-column: 2;
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 20px;
  }

}
 